<div class="blokken">
    <h4>Blokken</h4>
    {% setcontent block = "block/mijn-blok" %}
    {% if block.title is defined %}
        <h3>{{ block.title }}</h3>
        {{ block.content }}
    {% endif %}
    {% setcontent block = "block/tweede-blok" %}
    {% if block.title is defined %}
        <h3>{{ block.title }}</h3>
        {{ block.content }}
    {% endif %}

    {% for ct in app.config.get('contenttypes') if not ct.viewless|default(false) %}

        {% setcontent records = ct.slug ~ "/latest/3" %}

        <h5>{{ __('contenttypes.generic.recent', {'%contenttypes%': ct.slug}) }}</h5>
        <ul>
            {% for record in records %}
                <li><a href="{{ record.link }}">{{ record.title }}</a></li>
            {% else %}
                <li>{{ __('contenttypes.generic.no-recent', {'%contenttype%': ct.slug}) }}</li>
            {% endfor %}
        </ul>
        <p><a href="{{ paths.root }}{{ct.slug}}">{{ __('contenttypes.generic.overview',{'%contenttypes%': ct.slug}) }} &raquo;</a></p>


    {% endfor %}
</div>