<!doctype html>
<html class="no-js" lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
        {{ app.config.get('general/sitename') -}}
        {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif -%}
    </title>

    <link rel="stylesheet" href="{{ paths.theme }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ paths.theme }}css/owl.carousel.css">
    <link rel="stylesheet" href="{{ paths.theme }}css/owl.transitions.css">
    <link rel="stylesheet" href="{{ paths.theme }}css/owl.theme.css">
    <link rel="stylesheet" href="{{ paths.theme }}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ paths.theme }}css/custom.css">

</head>